@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  --h1-size: 1.7em;
  --h2-size: 1.55em;
  --h3-size: 1.4em;
  --h4-size: 1.2em;
  --h5-size: 1.15em;
  --h6-size: 1.125em;
  --h1-weight: 700;
  --h2-weight: 700;
  --h3-weight: 700;
  --h4-weight: 600;
  --h5-weight: 600;
  --h6-weight: 600;
  --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/*
@font-face {
	font-family: 'Noto Serif Hebrew';
	font-style: normal;
	font-weight: 400;
	src: url('https://fonts.gstatic.com/s/notoserifhebrew/v10/8vIK7ww63mVu7gtR-kwKxNvkNOjw-n_jTVHkLQ.woff2') format('woff2');
	unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
  }
  
  .published-container .markdown-preview-view {
	font-family: var(--font-text-theme), 'Noto Serif Hebrew', sans-serif;
  }
  */

/* logo color Flip
  .theme-light .site-body-left-column-site-logo {
    filter: invert(1)  hue-rotate(190deg); 
  } */

  /* Removing underline from internal links*/
  .internal-link {
	--link-decoration: none;
  }
	.internal-link:hover {
		color: var(--link-external-color-hover);
		text-decoration-line: var(--link-external-decoration-hover);
  }

/*note: margin bottom's deafult was "1em" */
.page-header {
  margin-top: 0.25em;
  margin-bottom: 1em;
  font-variant: var(--page-title-variant);
  letter-spacing: -0.015em;
  line-height: var(--page-title-line-height);
  font-size: var(--page-title-size);
  color: var(--page-title-color);
  font-weight: var(--page-title-weight);
  font-style: var(--page-title-style);
  font-family: var(--page-title-font);
}

/* Footer 01
.site-footer a {
  display: none;
}
 */

/* Obsidian Publish mobile variables */
/* --------------------------------- */
@media screen and (max-width: 750px) {
	.published-container {
	  --page-width: 100vw;
	}
  }

/* edits the footer "Powered by Obsidian Publish" */

.site-footer {
    font-size: 0px;
}

.site-footer:after {
	color: rgba(128, 128, 128, 0.497);
    font-size: 12px;
    content:"Powered By ChassidusWiki";
}


/* GoogleTag */

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6Z2943Y9Z8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6Z2943Y9Z8');
</script>



/* Rectangle Class **Active */

.rectangle {
	/* background-color: white;
    border-radius: 8px;
    border: 2px solid rgba(118, 118, 118, 0.06);
    box-shadow: var(--input-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px;
	margin: 2%;
    display: grid;
    position: relative; 
	transition: all ease-in-out 0.2s;  */
}

.theme-light .rectangle {
	background-color: white;
    border-radius: 8px;
    border: 2px solid rgba(118, 118, 118, 0.06);
    box-shadow: var(--input-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px;
	margin: 5%;
    display: grid;
    position: relative; 
	transition: all ease-in-out 0.2s; 
}

.theme-dark .rectangle {
	background-color: white;
    border-radius: 8px;
    border: 2px solid rgba(118, 118, 118, 0.06);
    box-shadow: var(--input-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px;
	margin: 5%;
    display: grid;
    position: relative; 
	transition: all ease-in-out 0.2s; 
	background-color: rgba(0, 0, 0, 0.1); 
}

.rectangle form {
    max-width: 550px;
	display: flex;
	flex-direction: column;
    align-items: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-color: var(--color-base-35); /* Make sure --color-base-35 is defined */
    border-radius: 4px;
    resize: none;
	cursor: pointer;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start; /* Ensure proper alignment context */
}

button:hover {
    background-color: var(--interactive-normal); /* Ensure --interactive-normal is defined */
}


/* Changing the margins and paddings back to something normal 
.published-container .markdown-rendered h1, 
.published-container .markdown-rendered h2, 
.published-container .markdown-rendered h3, 
.published-container .markdown-rendered h4, 
.published-container .markdown-rendered h5, 
.published-container .markdown-rendered h6 {
    margin: 0.5em 0 0em;
    border-bottom: 1px solid var(--background-modifier-border);
    padding-bottom: 0em;
} */



.list-cards {
	/* Kepano's List Cards from minimal */
	/* Use cssclasses: list-cards */
	--list-cards-template: repeat(2, minmax(0, 1fr));
  }
  .list-cards div > ul {
	--link-color: var(--text-normal);
	--link-unresolved-color: var(--text-muted);
	--link-decoration: none;
	--link-decoration-hover: none;
	--link-external-color: var(--text-normal);
	--link-external-decoration: none;
	--link-external-decoration-hover: none;
	display: grid;
	gap: 8px;
	grid-template-columns: var(--list-cards-template);
	padding: 0; 
	scroll-behavior: smooth;
  }

  .list-cards div > ul > li {
	display: flex;
	border-radius: var(--radius-s);
	border: 1px solid var(--color-base-25);
	flex-wrap: wrap;

  }
  .list-cards div > ul > li a {
	flex-grow: 0;
  }
  .list-cards div > ul > li a:after {
	content: "";
	flex-basis: 100%;
	height: 0;
  }
  .list-cards div > ul > li a:hover {
	border-color: var(--color-base-35);
  }
  .list-cards div > ul > li a {
	flex-grow: 1;
	padding: 16px;
	font-weight: var(--font-semibold);
	background: none;
  }
  .list-cards div > ul > li a:hover {
	border-color: var(--color-base-35);
  }
  .list-cards div > ul ul {
	display: block;
	width: 100%;
	color: var(--text-muted);
	font-size: var(--font-smaller);
	margin-top: -8px;
	padding: 0 16px 16px;
  }
  .list-cards div > ul ul > li {
	display: block;
  }
  .theme-dark .list-cards div ul > li {
	background-color: var(--background-secondary);
  }
  
  .list-cards .icon-app {
	display: inline-block;
	align-self: center;
	left: 16px;
	width: 24px;
	height: 24px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: center;
  }
  .list-cards .icon-app + a {
	padding-left: 52px;
	align-self: center;
	line-height: 1.15;
  }

  @media screen and (max-width: 750px) {
	.list-cards.list-cards-mobile-full {
	  /* Use cssclasses: list-cards-mobile-full */
	  --list-cards-template: repeat(1, minmax(0, 1fr));
	} }

	/* Header img and Text*/

	@media screen and (max-width: 750px) {
		.site-header-text {
		  display: flex;
		}
	}

	.site-body-left-column-site-logo img {
		display: none;
	  }

	  .site-header-logo img {
		display: none;
	  }

/* explore buttons */

.basic-buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 10px;
  }

  .explore-btn {
	flex: 0 1 auto;
	padding: 0;
	border: none;
	background-color: #f0f0f0;
	cursor: pointer;
	font-size: 16px;
	text-align: center;
  }
  
  .explore-btn a {
	display: block;
	padding: 10px;
	color: inherit;
  }
  
  .explore-btn:hover {
	color: var(--text-muted);
	border-color: var(--color-base-35);
	background-color: #e7e7e730;

  }



  /* move graph on mobile 
  @media (max-width: 1000px) {
	.render-container {
	  position: relative;
	  max-width: 100%;
	  width: 100%;
	  flex-direction: column;
	}
	
	.render-container-inner {
	  flex-direction: column;
	  overflow-y: auto;
	}
	
	.graph-view-outer {
	  margin-top: 12px !important;
	}
	
	.site-body-right-column-inner {
	  width: 100% !important;
	  max-width: 100% !important;
	}
	
	.site-body-right-column {
	  line-height: 1.3;
	  width: 100% !important;
	  border-top: var(--sidebar-left-border-width) solid var(--sidebar-left-border-color);
	}
	
	.publish-renderer > .markdown-preview-view > .markdown-preview-sizer {
	  margin-right: 0;
	}
	
	.published-container.has-outline .site-body-right-column,
	.published-container.has-graph .site-body-right-column {
	  display: block;
	  position: relative;
	}
  }
  */

  .card {
    background-color: white;
    border-radius: 18px;
    border: 2px solid rgba(118, 118, 118, 0.06);
    box-shadow: var(--input-shadow);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 30px;
    display: grid;
    position: relative; /* Ensure the card is the reference point for absolute positioning */
	/* transition: all ease-in-out 0.3s; */

	/* --link-color: var(--text-normal);
	--link-unresolved-color: var(--text-muted);
	--link-decoration: none;
	--link-decoration-hover: none;
	--link-external-color: var(--text-normal);
	--link-external-decoration: none;
	--link-external-decoration-hover: none; */

	scroll-behavior: smooth;
}

.theme-dark .card {
    background-color: rgba(0, 0, 0, 0.1); 
}

.card:hover {
	box-shadow: var(--input-shadow-hover);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}	


.card-svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0.5; /* Set the transparency */
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    max-height: 100%; /* Ensure it fits within the card's height */
}


h1 {
    color: var(--text-normal);
    margin: 0.5em 0 0.5em !important;
    font-size: 28px;
    font-weight: 600;
}

.subtitle {
    color: grey;
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 17px;
}

h3 {
    color: var(--text-normal);
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/* article */

.Article {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
	color: #1d1d1f;
	max-width: 680px;
	margin: 0 auto;
	padding: 40px 20px;
	position: relative;
	background-color: #fbfbfd;
	border-radius: 18px;
	box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .Article h2 {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -0.015em;
	margin-bottom: 20px;
  }
  
  .Article a {
	color: #0066cc;
	text-decoration: none;
	transition: color 0.3s ease;
  }
  
  .Article a:hover {
	color: #000;
  }
  
  .Article p {
	font-size: 17px;
	line-height: 1.47059;
	font-weight: 400;
	letter-spacing: -0.022em;
	margin-bottom: 20px;
  }
  
  .Article-hidden {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	transition: max-height 0.5s ease, opacity 0.5s ease;
  }
  
  .Article-toggle {
	display: none;
  }
  
  .Article-toggleLabel {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 15px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to bottom, rgba(251,251,253,0), #fbfbfd 50%);
  }
  
  .Article-toggleIcon {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #0071e3;
	position: relative;
	transition: transform 0.3s ease, background-color 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .Article-toggleIcon::after {
	content: '';
	width: 10px;
	height: 10px;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	transform: rotate(45deg);
	transition: transform 0.3s ease;
	position: relative;
	top: -2px;
  }
  
  .Article-toggle:checked ~ .Article-hidden {
	max-height: 1000px; /* Adjust based on content length */
	opacity: 1;
  }
  
  .Article-toggle:checked ~ .Article-toggleLabel .Article-toggleIcon {
	transform: translateY(10px);
	background-color: #06c;
  }
  
  .Article-toggle:checked ~ .Article-toggleLabel .Article-toggleIcon::after {
	transform: rotate(225deg);
	top: 2px;
  }
  
  .Article-toggle:checked ~ .Article-toggleLabel {
	position: relative;
	background: none;
  }

  /* Back to top button */

<body>
<div class="back-to-top-btn">
  <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.0401 12.0543L15.0743 7.02002L20.1086 12.0543" stroke="white" />
    <path d="M15.0748 7.20886L15.0748 21.755" stroke="white" />
  </svg>
</div>
</body>


.back-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}

.back-to-top-btn:hover {
  transform: translateY(-5px);
}	

/* Home Cards */


.homecard {
    background: linear-gradient(49deg, #2d4de0 0, #9f71f0 30%, #fc6277 58%, #f8ef6f 95%);

    width: 380px;
    height: 350px;

    border-radius: 12px;

    position: relative;
}

.homecard-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 50px 40px;

    background-color: #222222;
    color: #ffffff;

    border-radius: 12px;

    transition: 0.2s ease;
}

.homecard:hover .homecard-container {
    border-radius: 10px;
    inset: 3px;
}